<main>
<div class="col-md-6 col-12 logo-center">
    <div class="card disable-rounded-right mb-0 p-2 h-100 d-flex justify-content-center">
        <div class="card-header pb-1">
            <div class="card-title">
                <h4 class="text-center mb-2">Welcome Back</h4>
            </div>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form id="signin_page" name="signin" method="post" action="signin">
                    <div class="form-group mb-50">
                        <label class="left" for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" name="email" placeholder="Email address"></div>
                    <div class="form-group">
                        <label class="left" for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <input class="btn btn-primary glow w-100 position-relative" id="saveBtn" type="submit" value="Sign In" />
                </form>
                <hr>
                <div class="text-center"><small class="mr-25">Don't have an account?</small><a href="/register"><small>Sign up</small></a></div>
            </div>
        </div>
    </div>
</div>
</main>
